page-job-info2 {
  ion-card.card{
    margin: 1%;
    margin-top: 8%;
    width: 98%;
    font-family: sans-serif;
    border-radius: 10px;
  }
  img{
    height: 20%;
  }
  #jobInfoOffered-card210{
   margin-top: 1px;
  }
}
