page-edit-profile {

  .image-cropper {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 180px !important;
    height: 180px !important;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #0CE847;
  }

  .image-cropper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

  }
  #mySkills {
    width: calc(100% - 10px);
    border: 1px solid !important;
    border-radius: 0;
    background: transparent;
  }

}
