page-edit-profile {


  ion-content {
    .fixed-content {
      @include linear-gradient(right, $dusk);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
  }

  .image-cropper {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }

  .image-cropper img {
    width: 100%;
    height: auto;
  }

  #mySkills {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
  }

}
