page-my-profile {



  /*ion-content {
    .fixed-content {
      @include linear-gradient(right, $dusk);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }

  }*/

.profile-pic{
  height: 40%;
  width: 100%;
  margin: 0;
}
  .saved-job{
    height: 25%;
    width: 99.6%;
    margin: 0.2%;
    margin-right: 1px;
  }
.own-job{
  height: 34%;
  width: 49.6%;
  float: left;
  margin:0.2% 0.1% 0.2% 0.2%;
}
  .sent-offer{
    height:34%;
    width: 49.6%;
    float: right;
    margin: 0.2% 0.2% 0.2% 0.1%;
  }
  .sign-out{
    width: 100%;
    margin: 1px;
  }
}
