page-my-profile {

  .profile-pic{
  height: 45%;
  width: 100%;
  margin: 0;
}
  .saved-job{
    height: 25%;
    width: 99.6%;
    margin: 0.2% 1px 0.2% 0.2%;
    position: relative;
    text-align: center;
    background-color: #0CE847;
  }
.own-job{
  height: 30%;
  width: 49.6%;
  float: left;
  margin:0.2% 0.1% 0.2% 0.2%;
  position: relative;
  text-align: center;
  background-color: #0CE847;
}
  .sent-offer{
    height:30%;
    width: 49.6%;
    float: right;
    margin: 0.2% 0.2% 0.2% 0.1%;
    position: relative;
    text-align: center;
    background: #0CE847;
  }
  .sign-out{
    width: 100%;
    margin: 1px;
  }
  img{
    width :auto !important;
    height:auto !important;
    margin: 5% auto auto;
    align-items: center;

  }

  #myProfile-list-item25{
    width :100%;
    height: 80%;
  }
  #myProfile-list-item25{
    margin: auto;
    align-items: center;
  }
  .job-title{
    position: absolute;
    top: 36%;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    color: #ffffff;
  }
}
