page-my-profile {

  .profile-pic {
    height: 45%;
    width: 100%;
    margin: 0;
  }

  .saved-job {
    height: 25%;
    width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
  }

  .own-job {
    height: 30%;
    width: 50%;
    float: left;
    margin: 0;
    position: relative;
    text-align: center;
  }

  .sent-offer {
    height: 30%;
    width: 50%;
    float: right;
    margin: 0;
    position: relative;
    text-align: center;
  }

  .sign-out {
    width: 100%;
    margin: 1px;
  }

  #myProfile-list-item25 {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 0;
  }

  #myProfile-list-item26 {
    padding-left: 0;
  }

  #myProfile-list-item26 h2 {
    text-align: center;
    color: color($colors, primary);
    font-weight: bold;
    font-size: 20px;
  }

  .item-md.item-block .item-inner {
    padding-right: 0;
  }

  .job-title {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    color: #ffffff;
  }

  .card p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .option {
    filter: brightness(50%);
    height: 100%;
  }

  .item-md ion-avatar img {
    width: 30%;
    height: 10%;
  }

  .item-md ion-avatar {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .bar-buttons-md {
    position: absolute;
    right: 0;
    top: 0;
  }

  .button {
    border: 2px solid color($colors, primary);
    border-radius: 10px;
  }

  .label-md {
    margin: 0;
  }

  #logout {
    color: color($colors, primary);
  }
}
