page-my-open-jobs {

  ion-content {
    .fixed-content {
      /*@include linear-gradient(right, $dusk);*/
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
  }

  .accept {
    color: color($colors, danger);
  }

}

