page-my-open-jobs {

  ion-content {
    .fixed-content {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
  }
 ion-card.card{
   margin-bottom: 1px;
   margin-left: 1px;
   margin-right: 1px;
 }
  .accept {
    color: color($colors, primary);
  }
  #main-card{
    height: auto;
    width: auto;
    margin: auto;
  }
  #myOpenJobs-list14{
    width: 100%;
    height: 1%;
  }
}

