<ion-header>
  <ion-navbar>
    <ion-title font-color="primary">
      My Own Jobs
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page12" class="background">
  <div class="spacer" style="width:300px;height:14px;" id="myOpenJobs-spacer52"></div>
  <ion-card id="main-card">
    <ion-card *ngFor="let job of ownJobsArray" color="none" id="myOpenJobs-list14">
      <ion-item id="myOpenJobs-list-item16" (click)="goToJobInfo(job)">
        <ion-thumbnail item-left>
          <img [src]="job.file_id | thumbnail: 'small' | async" [alt]="job.title"/>
        </ion-thumbnail>
        <h2 *ngIf="job.title.includes('_accepted') ;else other_content">
          {{job.title | acceptTitle}}
        </h2>
        <ng-template #other_content><h2>{{job.title}}</h2></ng-template>
        <p id="accept" *ngIf="job.title.includes('_accepted')" style="color:#32db64">Accepted</p>
      </ion-item>
      <ion-item color="positive" id="myOpenJobs-list-item84">
        <button ion-button (click)="goToOffers(job)">{{job.file_id | bidnumber | async}} bid(s)</button>
        <button ion-button item-right="true" (click)="deleteJob(job.file_id)">Delete</button>
      </ion-item>
    </ion-card>
  </ion-card>

</ion-content>
