<ion-header>
  <ion-navbar>
    <ion-title>
      My Own Jobs
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page12" class="background">
  <div class="spacer" style="width:300px;height:14px;" id="myOpenJobs-spacer52"></div>
  <ion-list>
    <ion-list *ngFor="let job of ownJobsArray" color="none" id="myOpenJobs-list14">
      <ion-item id="myOpenJobs-list-item16" (click)="goToJobInfo(job)">
        <ion-thumbnail item-left>
          <img [src]="job.file_id | thumbnail: 'small' | async" [alt]="job.title"/>
        </ion-thumbnail>
        <h2 *ngIf="job.title.includes('_accepted') ;else other_content">
          {{job.title | acceptTitle}}
        </h2>
        <ng-template #other_content>{{job.title}}</ng-template>
        <p class="accept" *ngIf="job.title.includes('_accepted')">Accepted</p>
      </ion-item>
      <ion-item color="positive" (click)="goToOffers(job)" id="myOpenJobs-list-item84">
        {{job.file_id | bidnumber | async}} bid(s)
      </ion-item>
    </ion-list>
  </ion-list>

</ion-content>
