page-home {
  .card {
    width: 100vw;
    margin: -16px 0 0 -16px;
  }
  .swiper-slide img{
    filter: brightness(50%);
  }
  .swiper-slide p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .list {
    margin-top: 2px;
  }
  .item {
    padding-left: 0;
  }
  .price {
    color: color($colors, secondary);
  }
}
