<ion-header>
    <ion-navbar>
    <ion-searchbar placeholder="What are you looking for?" name="Search" id="home-search1"></ion-searchbar>
      <button ion-button block *ngIf="!userProvider.loggedIn" (click)="goLogin()">
        <ion-icon name="log-in" align-items-end="1px" >Log In</ion-icon>
      </button>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <ion-card>
    <ion-slides autoplay="3000" [pager]="true">
      <ion-slide (click)="goToCategory('IT and Tech ')">
        <img src="assets/img/IT_and_Tech.jpg"/>
        <p>IT & Tech</p>
      </ion-slide>
      <ion-slide (click)="goToCategory('Housekeeping')">
        <img src="assets/img/housekeeping.jpg"/>
        <p>Housekeeping</p>
      </ion-slide>
      <ion-slide (click)="goToCategory('Home Renovation')">
        <img src="assets/img/home_renovation.jpg"/>
        <p>Home Renovation</p>
      </ion-slide>
      <ion-slide (click)="goToCategory('Children and Pet Care')">
        <img src="assets/img/children_and_pet_care.jpg"/>
        <p>Children & Pet Care</p>
      </ion-slide>
      <ion-slide (click)="goToCategory('Beauty and Health')">
        <img src="assets/img/beauty_and_health.jpg"/>
        <p>Beauty & Health</p>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-list id="home-list4">
    <ion-item id="home-list-item-container3">
      <div id="home-markdown6" class="show-list-numbers-and-dots">
        <p style="margin-top:0;color:#000000;font-size: large;font-weight: bold">
          Recent posts:
        </p>
      </div>
    </ion-item>
    <ion-item-sliding *ngFor="let job of jobArray">
      <ion-item color="none" (click)="goToJobInfo(job)" id="home-list-item9">
        <ion-thumbnail item-left>
          <img [src]="mediaFilePath + (job.file_id | thumbnail: 'small' | async)">
        </ion-thumbnail>
        <h2>{{job.title}}</h2>
        <p class="price">{{getDescription(job.description).price}}</p>
        <p>{{getDescription(job.description).description}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="balanced">
          Offer
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreJobs($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
