<ion-content padding id="page7" class="background">
  <ion-card id="jobInfo-card22">
    <ion-list>
      <ion-item color="none" (click)="goToHome()" id="jobInfo-list-item95">
        <ion-icon color="secondary" name="close-circle" item-right></ion-icon>
      </ion-item>

      <div id="jobInfo-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
        <p *ngIf="job.title.includes('_accepted') ;else other_content" style="color:#000000;font-size:24px;">
          <strong>
            {{job.title | acceptTitle}}
          </strong>
        </p>
        <ng-template #other_content>
          <p style="color:#000000;font-size:24px;">
            <strong>{{job.title}}</strong>
          </p>
        </ng-template>
        <P class="price">{{descriptionJSON.price}}</P>
      </div>

      <img [src]="job.file_id | thumbnail: 'large' | async">
      <ion-item id="jobInfo-list-item-container31">
        <div id="jobInfo-markdown49" class="show-list-numbers-and-dots">
          <div text-wrap style="margin-top:1px;color:#000000;" text-justify="">
            {{descriptionJSON.description}}
          </div>
        </div>
      </ion-item>

      <ion-item color="none" id="jobInfo-list-item14">
        <ion-avatar *ngIf="avatar" item-left>
          <img [src]="(avatar | thumbnail: 'small' | async)" id="avatar">
        </ion-avatar>
        <h2>
          {{userInfoJSON.user.username}}
        </h2>
      </ion-item>
      <ion-item color="none" id="jobInfo-list-item10">
        Valid until: {{descriptionJSON.deadline}}
        <ion-icon color="stable" name="calendar" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" id="jobInfo-list-item87">
        Show on map
        <ion-icon (click)="openMap()" color="secondary" name="map" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card id="jobInfo-card23">
    <ion-list>
      <h2 margin-top="2px" id="jobInfo-heading1" style="color:#32db64;text-align:center;">
        Set your price:
      </h2>
      <form id="jobInfo-form15">
        <div id="jobInfo-container2">
          <form id="jobInfo-form16">
            <ion-item id="jobInfo-range5">
              <ion-range min="0" max="1000" step="1" color="secondary" name="offer price" [(ngModel)]="priceOffer">
                <ion-label range-left>
                  €
                </ion-label>
              </ion-range>
            </ion-item>
            <ion-item>
              <ion-input name="comment" placeholder="Say something to the job owner" [(ngModel)]="comment">

              </ion-input>
            </ion-item>
            <button id="jobInfo-button15" ion-button clear color="secondary" block style="font-weight:600;font-size:20px;">
              {{priceOffer}} €
            </button>
            <button id="jobInfo-button6" ion-button color="secondary" block style="border-radius:50px 50px 50px 50px;" (click)="goToSendOffer()">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              Offer!
            </button>
          </form>
        </div>
      </form>
    </ion-list>
  </ion-card>
  <div class="spacer" style="width:300px;height:16px;" id="jobInfo-spacer5"></div>
</ion-content>
