page-job-info {
  .price {
    color: color($colors, secondary);
  }
  ion-card.card{
    margin: 8% 1% 1%;
    width: 98%;
    font-family: sans-serif;
    border-radius: 10px;
  }
  img{
    height: 20%;
  }
  #jobInfo-card23{
    margin-top: 3px;
  }
}
