page-on-map {

  #map {
    height: 80%;
    margin: 10px;
    border-radius: 5px;
  }

  /*.scroll-content {
    overflow-y: hidden !important;
  }*/

  ion-card.card{
    margin: 8% 1% 1%;
    width: 98%;
    height: 90%;
    font-family: sans-serif;
    border-radius: 10px;
  }

}
