<ion-content padding id="page4" class="background">
  <ion-card id="new-post-card">
    <ion-item color="none" id="jobInfo-list-item95">
      <ion-title color="secondary">
        New Post
      </ion-title>
      <ion-icon color="secondary" name="close-circle" item-right (click)="goToHome()"></ion-icon>
    </ion-item>

    <form id="newPost-form18" (ngSubmit)="onUpload()">
      <ion-item id="newPost-input13">
        <ion-label *ngIf="checkTitle ;else title_content" stacked style="font-size: large">
          Title:
        </ion-label>
        <ng-template #title_content>
          <ion-label stacked style="color: red">Title must be filled</ion-label>
        </ng-template>
        <ion-input (ionBlur)="validTitle()" name="Title" [(ngModel)]="title" type="text" placeholder="Give a title for your job" style="border-bottom:1px solid #32db64"></ion-input>
      </ion-item>
      <ion-item id="newPost-input14">
        <ion-label *ngIf="checkDescription ;else description_content" stacked style="font-size: large">
          Description:
        </ion-label>
        <ng-template #description_content>
          <ion-label stacked style="color: red">Description must be filled</ion-label>
        </ng-template>
        <ion-textarea (ionBlur)="validDescription()" style="border:1px solid #32db64; border-radius:4px " rows="3" name="Description" [(ngModel)]="description" type="text"
                      placeholder="Explain what you need to be done"></ion-textarea>
      </ion-item>
      <ion-item id="newPost-input15">
        <ion-label *ngIf="checkPlace ;else place_content" stacked style="font-size: large">
          Place:
        </ion-label>
        <ng-template #place_content>
          <ion-label stacked style="color: red">Place must be filled</ion-label>
        </ng-template>
        <ion-input (ionBlur)="validPlace()" name="Place" [(ngModel)]="place" type="text" placeholder="Area/Address..." style="border-bottom:1px solid #32db64"></ion-input>
      </ion-item>
      <ion-item id="newPost-input16">
        <ion-label *ngIf="checkPrice ;else price_content" stacked style="font-size: large">
          Price:
        </ion-label>
        <ng-template #price_content>
          <ion-label stacked style="color: red">Price must be filled</ion-label>
        </ng-template>
        <ion-input (ionBlur)="validPrice()" name="Price" [(ngModel)]="price" type="text" placeholder="Set your price for the job" style="border-bottom:1px solid #32db64"></ion-input>
      </ion-item>
      <ion-item id="newPost-select2">
        <ion-label *ngIf="checkCate ;else category_content" style="font-size: large">
          Category:
        </ion-label>
        <ng-template #category_content>
          <ion-label stacked style="color: red">Category must be chosen</ion-label>
        </ng-template>
        <ion-select (ionChange)="validCategory()" [(ngModel)]="category" name="Category" placeholder="Select the category" style="border-bottom:1px solid #32db64">
          <ion-option>IT and Tech</ion-option>
          <ion-option>Housekeeping</ion-option>
          <ion-option>Home Renovation</ion-option>
          <ion-option>Child & Pet Care</ion-option>
          <ion-option>Beauty & Health</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="newPost-input17">
        <ion-grid>
          <ion-row>
            <button id="take-photo1" ion-button color="secondary" block style="border-radius:50px 50px 50px 50px;"
                    type="submit">Take photo
            </button>
            <button clear id="take-or" ion-button color="secondary" block style="border-radius:50px 50px 50px 50px;"
                    type="submit">OR
            </button>
            <button id="upload-photo" ion-button color="secondary" block style="border-radius:50px 50px 50px 50px;"
                    type="submit">
              Upload photo
            </button>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item id="newPost-input18">
        <ion-label *ngIf="checkDeadline ;else deadline_content" stacked style="font-size: large">
          Deadline:
        </ion-label>
        <ng-template #deadline_content>
          <ion-label stacked style="color: red">Deadline must be filled</ion-label>
        </ng-template>
        <ion-input (ionChange)="validDeadline()" name="Deadline" [(ngModel)]="deadline" type="date" style="border-bottom:1px solid #32db64"></ion-input>
      </ion-item>
      <ion-card>
        <img [src]="fileData">
      </ion-card>
      <button type="submit" id="newPost-button9" ion-button color="secondary" block style="border-radius:50px 50px 50px 50px;">
        <ion-icon name="checkmark-circle"></ion-icon>
        Post it!
      </button>


      <!--//this is for u Hamed-->
      <ion-input color="secondary" accept="image/*" (change)="handleChange($event)" name="File" type="file">Choose file</ion-input>
    </form>
  </ion-card>

</ion-content>
