page-new-post {
ion-card.card{
  margin-top:5%;
  border-radius: 10px;
  vertical-align: middle;
  width: 98%;
  height: auto ;

  margin-left: 1%;
}
  #newPost-button9{
    //margin-right: 2%;
    width: 50%;
    margin-bottom:10%;
    margin-left: 25%;
  }
  #new-post-card{
    height: auto;
  }
  #take-photo1{
    width: 40%;
    margin-right: 3%;
    margin-left: 5%;
  }
  #upload-photo{
    width: 40%;
    margin-left: 3%;
  }
  #newPost-form18{
    margin: auto;
    margin-right: 4px;
  }
  #take-or{
    width: 5%;
  }
  #newPost-input13{
    margin-bottom: 3%;
  }
  #newPost-input14{
    margin-bottom: 3%;
  }
  #newPost-input15{
    margin-bottom: 3%;
  }
  #newPost-input16{
    margin-bottom: 3%;
  }


}
