<ion-header>
  <ion-navbar>
    <ion-title>
      My Sent Offers
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page15" style="background-color:#E3FFDF;">
  <div class="spacer" style="width:300px;height:33px;" id="myOpenOffers-spacer54"></div>
  <ion-list id="myOpenOffers-list23">

    <ion-item (click)="goToJobInfo(offer)" *ngFor="let offer of offersArray">
      <ion-thumbnail item-left>
        <img [src]="offer.file_id | thumbnail: 'small' | async"/>
      </ion-thumbnail>
      <h2 *ngIf="offer.info">{{offer.info.title}}</h2>
      <p *ngIf="offer.info" class="price">{{getDescription(offer.info.description).price}}</p>
      <p *ngIf="offer.info">{{getDescription(offer.info.description).description}}</p>

    </ion-item>
  </ion-list>
</ion-content>
