
<ion-content padding id="page6" class="background">
    <ion-icon name="arrow-back" color="light" (click)="goToLogin()"></ion-icon>
  <ion-card>
   <ion-card-header>
     Sign Up
   </ion-card-header>
    <ion-card-content>
  <form id="signup-form2" (ngSubmit)="registerUser()">
    <ion-list id="signup-list2">
      <ion-item id="signup-input5">
        <ion-label>
          <ion-icon name="person" color="secondary"></ion-icon>
        </ion-label>
        <ion-input (ionBlur)="validName()" [(ngModel)]="user.full_name" name="full_name" placeholder="Full name"></ion-input>
      </ion-item>
      <ion-label *ngIf="validFullName" color="danger" >Use the correct format of name</ion-label>
      <ion-item id="signup-input8">
        <ion-label>
          <ion-icon name="person" color="secondary"></ion-icon>
        </ion-label>
        <ion-input (ionBlur)="checkUserExists()" [(ngModel)]="user.username" required name="username" placeholder="Username"></ion-input>
      </ion-item>
      <ion-label *ngIf="userAlert" color="danger" >The user already exists</ion-label>
      <ion-label *ngIf="validUsername" color="danger" >The username must be at least 3 characters</ion-label>
      <ion-item id="signup-input6">
        <ion-label>
          <ion-icon name="mail" color="secondary"></ion-icon>
        </ion-label>
        <ion-input (ionBlur)="emailCheck()" [(ngModel)]="user.email" type="email" required name="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-label *ngIf="validEmail" color="danger" >Email must be in the correct format</ion-label>
      <ion-item id="signup-input7">
        <ion-label>
          <ion-icon name="lock" color="secondary"></ion-icon>
        </ion-label>
        <ion-input (ionBlur)="passwordCheck()" [(ngModel)]="user.password" required name="password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-label *ngIf="validPassword" color="danger" >The password must be at least 5 characters</ion-label>
      <ion-item id="signup-input9">
        <ion-label>
          <ion-icon name="key" color="secondary"></ion-icon>
        </ion-label>
        <ion-input (ionBlur)="passWordMatch()" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Repeat password"></ion-input>
      </ion-item>
      <ion-label *ngIf="passwordMatch" color="danger">The password must match!</ion-label>
    </ion-list>
    <button id="signup-button3" ion-button color="secondary" block style="border-radius:50px 50px 50px 50px;" type="submit">
      Sign up
    </button>
  </form>
    </ion-card-content>
  </ion-card>
</ion-content>
